######################
# 1. Systèmes & OS   #
######################
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
.AppleDouble
.LSOverride
*.pid

###########################
# 2. Environnements Python #
###########################
.venv/
env/
venv/
__pycache__/
*.py[cod]
*.pyo
.mypy_cache/
.pytest_cache/
pip-wheel-metadata/
*.manifest

#####################
# 3. IDE & éditeurs #
#####################
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

######################
# 4. Fichiers secrets #
######################
.env
.env.*
*.secret
*.sqlite3
tokenizer_config.json
config.json

######################################
# 5. Dossiers de build & packaging   #
######################################
build/
dist/
*.egg-info/
*.whl

##################
# 6. Docker      #
##################
*.tar
docker-compose.override.yml
docker-compose.dev.yml

##################
# 7. Logs & Temp #
##################
logs/
*.log
*.tmp
*.swp
*.swo
*~
*.bak
*.reload

##############################
# 8. Notebooks & Jupyter     #
##############################
.ipynb_checkpoints/
*.ipynb~

#########################
# 9. Tests & coverage   #
#########################
htmlcov/
coverage/
*.cover
*.lcov
test-results/

##########################
# 10. Données & modèles  #
##########################
# Datasets bruts
/data/
ml/detection/data/raw/
detection/
models/

# Fichiers lourds
*.csv
*.zip
*.jpg
*.jpeg
*.png
*.npy
*.pt
*.pkl
*.joblib
*.faiss
*.db

# Cache HF / LangChain
huggingface/
~/.cache/huggingface
~/.huggingface
chroma/

###############################
# 11. Fichiers/dossiers cachés #
###############################
.*
!.gitignore
!.gitkeep
!.dockerignore
!.env.example
