Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
pillow

numpy
pandas
matplotlib
scikit-learn
tensorflow
opencv-python

python-dotenv
langchain
langchain-community
langchain-google-genai
langchain-google-community
langgraph
streamlit
beautifulsoup4
faiss-cpu
pypdf

