fastapi
uvicorn[standard]
pydantic
sqlalchemy
passlib[bcrypt]
pydantic
email-validator
python-jose[cryptography]

pillow
pytest
numpy
pandas
matplotlib
scikit-learn
opencv-python
ipykernel
seaborn
mlflow
python-dotenv
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-chroma
langchain-groq
langgraph
huggingface_hub
httpx
unstructured[md]
beautifulsoup4
faiss-cpu
pypdf
streamlit