Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
pillow
fastapi
uvicorn[standard]
pydantic
pytest # Ajouté pour les tests# Ce fichier peut rester vide. Il indique à Python que ce dossier est un package.

numpy
pandas
matplotlib
scikit-learn
tensorflow
opencv-python
ipykernel
seaborn
mlflow

python-dotenv
langchain
langchain-community
langchain-groq
langchain-google-genai
langchain-google-community
langgraph
streamlit
beautifulsoup4
unstructured


faiss-cpu
pypdf

